:root {
	--font: Arial, Helvetica, sans-serif;
	--bg-color: #121212;
	--text-color: #f5f5f5;
	--nav-color: #1e1e1e;
	--button-color: #A238FF;
	--button-border-color: rgba(255, 255, 255, 0.4);
	--input-color: #1e1e1e;
	--input-focus-color: #303030;
	--input-border-focus-color: rgba(255, 255, 255, 0.5);
	--link-color: rgba(255, 255, 255, 0.5);
	--menu-hover-color: rgba(255, 255, 255, 0.9);
	--dropdown-color: #f5f5f5;
	--dropdown-hover-color: rgba(0, 0, 0, 0.1);
}

.text-success {
	color: darkgreen;
}

.text-warning {
	color: yellow;
}

.text-danger {
	color: darkred;
}

a {
  cursor: pointer;
	text-decoration: none;
	color: var(--link-color);
	font-weight: bold;
}

a:link {
	/* css */
}
a:visited {
	/* css */
}
a:active {
	/* css */
}
a:hover {
	text-decoration: underline;
	color: var(--button-color);
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: var(--font);
	background-color: var(--bg-color);
	color: var(--text-color);
}

.column {
	display: grid;
	grid-template-rows: auto auto;
	min-height: 100vh;
	align-content: space-between;
}

.nav-bar {
	padding: 0px;
	width: 100%;
	height: 55px;
	position: fixed;
	top: 0;
	display: grid;
	grid-template-columns: 215px 2fr 240px 1fr;
	background-color: var(--nav-color);
	z-index: 1;
	border-bottom: 1px solid var(--button-border-color);
}

.nav-bar-sign-up {
	width: 100%;
	height: 55px;
	position: fixed;
	top: 0;
	background-color: var(--nav-color);
	z-index: 1;
  display: grid;
  grid-template-columns: 100px auto auto;
}

.nav-bar-sign-up .nav-bar-sign-up-logo {
  padding-top: 4px;
}

.nav-bar-sign-up .nav-bar-sign-up-dark-mode {
  padding: 15px 100px 0px 0px;
}

.nav-bar-sign-up .nav-bar-sign-up-logo .position-locate {

}

.nav-bar-sign-up .nav-bar-sign-up-dark-mode .dark-mode:hover {
  cursor: pointer;
}

.nav-bar .top-toggle-logo {
	display: flex;
}

.nav-bar .top-toggle-logo .toggle {
  cursor: pointer;
	padding: 12px 10px 0px 10px;
	display: block;
}

.nav-bar .top-toggle-logo .logo {
	padding-top: 3px;
	display: block;
}

.nav-bar .top-toggle-logo .logo:hover {
	filter: brightness(1.2);
	transform: scale(1.05);
}

.nav-bar .top-search {
	height: 100%;
	padding-left: 15px;
}

.nav-bar .top-search .search-icon {
	position: relative;
	height: 100%;
	padding-top: 15px;
	padding-right: 20px;
	display: none;
	cursor: pointer;
}
.search-sm-screen {
	position: fixed;
	display: none;
	height: 150px;
	width: 100%;
	z-index: 4;
	top: 55px;
	background-color: rgba(255, 255, 255, 0.7);
	color: var(--bg-color);
}

.exit-search {
	cursor: pointer;
}

.nav-bar .top-menu {

}

.nav-bar .top-menu ul {
	display: flex;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.nav-bar .top-menu ul li a {
  cursor: pointer;
	width: 120px;
	display: block;
	height: 100%;
	text-align: center;
	padding-top: 18px;
}

.nav-bar .top-menu ul li a:hover {
	background-color: var(--menu-hover-color);
	text-decoration: none;
}

.nav-bar .top-button-login {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: end;
	padding-right: 20px;
}

.nav-bar .top-button-login .button-item {
	display: block;
	padding: 7px 0px 0px 10px;
}

.nav-bar .top-button-login .login-item {
	padding-top: 7px;
}

.nav-bar .top-button-login .login-item .login-dropdown-menu {
	display: none;
	position: absolute;
	width: 200px;
	background-color: var(--dropdown-color);
	right: 20px;
	margin-top: 0;
	border-radius: 10px;
}

.nav-bar .top-button-login .login-item .login-dropdown-menu .login-account {
	padding: 10px 10px 10px 10px;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
	overflow: hidden;
}

.nav-bar .top-button-login .login-item .login-dropdown-menu .login-account .name {
	color: var(--bg-color);
	align-self: center;
	padding-left: 8px;
}

.nav-bar .top-button-login .login-item .login-dropdown-menu ul {
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}

.nav-bar .top-button-login .login-item .login-dropdown-menu ul li a {
	color: var(--bg-color);
	display: block;
	padding: 5px 10px 5px 10px;
}

.nav-bar .top-button-login .login-item .login-dropdown-menu ul li a.menu-active {
	color: var(--text-color);
}

.nav-bar .top-button-login .login-item .login-dropdown-menu ul li a:hover {
	background-color: var(--dropdown-hover-color);
	color: var(--button-color);
}

.nav-bar .top-button-login .login-item img {
	cursor: pointer;
}

.nav-bar .top-button-login .dark-mode {
	padding: 15px 25px 0px 15px;
}

.nav-bar .top-button-login .dark-mode:hover {
	cursor: pointer;
  filter: brightness(1.1);
  transform: scale(1.1);
}



.main-content-sign-up {
	margin-top: 55px;
}

.footer-sign-up {
	text-align: center;
	background-color: var(--nav-color);
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
}

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background-color: var(--nav-color);
	width: 215px;
	z-index: 2;
	display: grid;
	grid-template-rows: 55px auto;
	border-right: 1px solid var(--button-border-color);
  overflow: hidden;
}

.sidebar .side-toggle-logo {
	display: flex;
}

.sidebar .side-toggle-logo .toggle {
  cursor: pointer;
	padding: 12px 10px 0px 10px;
	display: block;
}

.sidebar .side-toggle-logo .logo {
	padding-top: 3px;
	display: block;
}

.sidebar .side-toggle-logo .logo:hover {
	filter: brightness(1.2);
	transform: scale(1.05);
}

.sidebar .side-menu {
	
}

.sidebar .side-menu ul {	
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.sidebar .side-menu ul li a {
  cursor: pointer;
	width: 100%;
	display: block;
	height: 55px;
	padding-top: 17px;
	padding-left: 40px;
}

.sidebar .side-menu ul li.small-screen-menu {
  display: none;
}

.sidebar .side-menu ul li a:hover {
	background-color: var(--menu-hover-color);
	text-decoration: none;
}

/*side bar collapse*/
.sidebar-collapse {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	background-color: var(--nav-color);
	width: 48px;
	z-index: 0;
	display: grid;
	grid-template-rows: 55px auto;
	border-right: 1px solid var(--button-border-color);
  overflow: hidden;
  display: none;
  z-index: 2;
}

.sidebar-collapse .side-collapse-toggle {
  height: 55px;
	display: flex;
}

.sidebar-collapse .side-collapse-toggle .toggle {
  cursor: pointer;
	padding: 12px 10px 0px 10px;
	display: block;
}

.sidebar-collapse .side-collapse-menu {
	
}

.sidebar-collapse .side-collapse-menu ul {	
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	height: 100%;
}

.sidebar-collapse .side-collapse-menu ul li a {
  cursor: pointer;
	width: 100%;
	display: block;
	height: 55px;
	padding-top: 17px;
	padding-left: 13px;
}

.sidebar-collapse .side-collapse-menu ul li a:hover {
	background-color: var(--menu-hover-color);
	text-decoration: none;
}

.sidebar-display-yes {
  display: grid;
}

.sidebar-display-no {
  display: none;
}

.sidebar-collapse-display-yes {
  display: grid;
}

.sidebar-collapse-display-no {
  display: none;
}

.main-content {
	padding: 20px;
	margin-top: 55px;
	margin-left: 215px;
}

.main-content-collapse-sm-screen {
  margin-left: 0px;
}

.main-content-collapse-lg-screen {
  margin-left: 48px;
}

.music-card-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 16px;
	padding: 16px;
}

.music-card {
	width: 150px;
	display: grid;
	grid-template-rows: auto auto;
	background-color: var(--nav-color);
	cursor: pointer;
	border-radius: 10px;
}	

.music-card .music-card-picture {
	width: 150px;
	height: 150px;
}

.music-card .music-card-picture img {
	border-radius: 10px 10px 0px 0px;
}

.music-card .music-card-content {
	padding: 10px;
	display: grid;
	grid-template-rows: 45px 40px 15px;
	overflow: hidden;
}

.music-card .music-card-content .song-title {
	font-weight: bold;
}

.music-card .music-card-content .song-singer {

}

.music-card .music-card-content .view {
	font-size: small;
}

.footer {
	margin-left: 215px;
	margin-bottom: 60px;
	text-align: center;
	background-color: var(--nav-color);
	padding-top: 15px;
	padding-bottom: 15px;
}

.footer-collapse-sm-screen {
  margin-left: 0px;
}

.footer-collapse-lg-screen {
  margin-left: 48px;
}

.music-control {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 60px;
	background-color: var(--nav-color);
	color: var(--text-color);
	z-index: 3;
	border-top: 1px solid var(--button-border-color);
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
}

.music-control .left-control {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
}

.music-control .left-control .song-picture-container {
  padding: 10px 0px 0px 10px;
}

.music-control .left-control .song-content-container {
  padding: 10px 0px 0px 10px;
}

.music-control .center-control {
	display: grid;
	grid-template-rows: auto auto;
}

.music-control .center-control .control-button {
	padding-top: 8px;
	display: grid;
	grid-template-columns: auto auto auto auto auto;
	justify-content: center;
}

.music-control .center-control .control-bar {
	padding-bottom: 5px;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr;
	justify-content: center;
}

.music-control .right-control {
	display: grid;
	grid-template-columns: auto auto auto;
	justify-content: end;
}

.control-button-hover:hover {
  filter: brightness(1.1);
  transform: scale(1.1);
  cursor: pointer;
}

.control-button-disabled {
  pointer-events: none;
  opacity: 0.1;
  transform: scale(1.0);
  filter: brightness(1.0);
}

input[type="text"], input[type="password"] {
	height: 40px;
	background-color: var(--input-color);
	border: 1px solid var(--button-border-color);
	border-radius: 8px;
	padding: 0px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: var(--text-color);
	outline: none;
}

input[type="text"]:hover, input[type="password"]:hover {
	transform: scale(1.025);
}

input[type="text"]:focus, input[type="password"]:focus {
	background-color: var(--input-focus-color);
	border-color: var(--input-border-focus-color);
	transform: scale(1.025);
}

input[type="submit"], input[type="reset"], input[type="button"] {
	background-color: var(--button-color);
	height: 40px;
	color: var(--text-color);
	font-weight: bold;
	padding: 2px 20px;
	border: 1px solid var(--button-border-color);
	border-radius: 20px;
	cursor: pointer;
}

input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
	filter: brightness(0.5);
	transform: scale(1.1);
}

input[type="submit"].button-secondary, input[type="reset"].button-secondary, input[type="button"].button-secondary {
	background-color: var(--nav-color);	
}

input[type="submit"]:hover.button-secondary, input[type="reset"]:hover.button-secondary, input[type="button"]:hover.button-secondary {
	filter: brightness(1);
}

input[type="text"].search {
	width: 95%;
	display: block;
	background-image: url('../../media/image/items/search-icon.png');
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: 10px 9px;
	padding-left: 35px;
	margin: 7px 5% 0px 0px;
}

input[type="range"] {
  cursor: pointer;
}

.form-sign-up {
	margin: auto;
	padding-top: 20px;
	padding-bottom: 80px;
	width: 40%;
}

.form-group{
	margin-bottom: 10px;
}

table {
	width: 100%;
	border-collapse: collapse;
}

th {
	padding: 10px 0px 10px 5px;
	border-bottom: 1px solid var(--button-border-color);
	text-align: left;
}

tbody tr {
	height: 50px;
}

tbody tr:hover {
	background-color: var(--menu-hover-color);
	color: var(--button-color);
	cursor: pointer;
}

tbody tr.active {
      background-color: var(--button-color);
	  color: var(--text-color);
}

tbody tr td {
	border-bottom: 1px solid var(--button-border-color);
	height: 50px;
	padding-left: 5px;
}

th div, td div {
	height: 50px;
}

.profile-form {
	width: 70%;
	line-height: 1.5;
	margin: auto;
}

.extra-info {
	display: none;
}

select {
	background-color: var(--input-color);
	height: 30px;
	border-radius: 5px;
	width: 100px;
	color: var(--text-color);
}

/* */
.chart-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 16px;
	padding: 16px;
}

.chart-card {
	width: 150px;
	display: grid;
	grid-template-rows: auto auto;
	background-color: var(--nav-color);
	cursor: pointer;
	border-radius: 10px;
}	

.chart-card .chart-picture {
	
}

.chart-card .chart-picture img {
	width: 100%;
	height: 150px;
	border-radius: 10px 10px 0px 0px;
}

.chart-card .chart-content {
	padding: 10px;
	overflow: hidden;
}

/* */
.singer-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 16px;
	padding: 16px;
}

.singer-card {
	width: 150px;
	display: grid;
	grid-template-rows: auto auto;
	background-color: var(--bg-color);
	cursor: pointer;
	border-radius: 10px;
}

.singer-card:hover {
	background-color: var(--nav-color);
}	

.singer-card .singer-picture {
	padding: 10px;
	min-height: 150px;
}

.singer-card .singer-picture img {
	width: 130px;
	height: 130px;
	border-radius: 50%;
}

.singer-card .singer-content {
	padding: 10px;
	overflow: hidden;
}

/* */
.album-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 16px;
	padding: 16px;
}

.album-card {
	width: 150px;
	display: grid;
	grid-template-rows: auto auto;
	background-color: var(--bg-color);
	cursor: pointer;
	border-radius: 10px;
}

.album-card:hover {
	background-color: var(--nav-color);
}	

.album-card .album-picture {
	padding: 10px;
	min-height: 150px;
}

.album-card .album-picture img {
	width: 100%;
	height: 130px;
	border-radius: 10px;
}

.album-card .album-content {
	padding: 10px;
	overflow: hidden;
}
/* */

.type-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
	gap: 16px;
	padding: 16px;
}

.type-card {
	width: 150px;
	display: grid;
	grid-template-columns: auto auto;
	background-color: var(--nav-color);
	cursor: pointer;
	border-radius: 10px;
	min-height: 50px;
	justify-content: start;
}	

.type-card .type-picture {
	width: 10px;
	border-radius: 10px 0px 0px 10px;
}

.type-card .type-content {
	padding: 15px 10px 0px 15px;
	overflow: hidden;
}

.menu {
	
}

.menu-active {
	background-color: var(--button-color);
	color: var(--text-color);
}

/* */

.contact-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 16px;
	padding: 16px;
}

.contact-card {
	width: 250px;
	display: grid;
	grid-template-rows: auto auto;
	background-color: var(--nav-color);
	cursor: pointer;
	border-radius: 10px;
	min-height: 50px;
	justify-content: start;
}	

.contact-card .contact-picture {
	height: 250px;
}

.contact-card .contact-picture img {
	width: 100%;
	border-radius: 10px 10px 0px 0px;
}

.contact-card .contact-content {
	padding: 10px 10px 10px 10px;
	overflow: hidden;
}

.contact-card .contact-content p {
	line-height: 1.3;
}

/* */

.tab-buttons {
  display: flex;
  gap: 10px;
  margin: 20px;
  flex-wrap: wrap;
}

.tab-button {
  padding: 10px 20px;
  background-color: var(--nav-color);
  border: none;
  border-radius: 20px;
  color: var(--text-color);
  cursor: pointer;
  transition: background-color 0.3s;
}

.tab-button:hover {
  background-color: var(--menu-hover-color);
  color: var(--button-color);
}

.tab-button.active {
  background-color: var(--button-color);
  color: var(--text-color);
}

.tab-content {
  display: none;
  padding: 20px;
}

.tab-content.active {
  display: block;
}

.tab-wrapper {
  border-top: 1px solid var(--button-border-color);
  margin: 0 20px;
}

/* */
.banner {
	font-size: 100%;
	position: relative;
	margin: 10px;
}

.banner img {
	width: 100%;
	object-fit: cover;
	border-radius: 10px;
	opacity: 0.5;
}

.banner .banner-content {
	position: absolute;
	display: grid;
	grid-template-columns: auto auto;
	justify-content: right;
	left: 10px;
	top: 40px;
	color: var(--text-color);
	text-align: justify;
}

.banner .banner-content div img {
	opacity: 1;
	width: 200px;
	height: 200px;
	object-fit: cover;
}

.singer-name-in-banner {
	display: grid;
	grid-template-columns: auto auto;
	justify-content: start;
}

.save-singer:hover {
	cursor: pointer;
	filter: brightness(1.2);
	transform: scale(1.15);
}

.save-album:hover {
	cursor: pointer;
	filter: brightness(1.2);
	transform: scale(1.15);
}
.image-in-simple-site {
	width: 65%;
}

@media only screen and (max-width: 768px) {
	.song-content-container {
	display: none;
}
	.image-in-simple-site {
		width: 100%;
	}
	.nav-bar .top-menu {
		display: none;
	}
	.nav-bar .top-button-login .button-item {
		display: none;
	}	
	.nav-bar {
		grid-template-columns: 215px 3fr 1fr;
	}
	.sidebar .side-menu ul li.small-screen-menu {
		display: block;
	}
	table thead {
		display: none;
	}
	table td {
		display: block;
		width: 100%;
	}
	table td:not(:first-child) {
		display: none;
	}
	table td:first-child {
		display: block;
	}
	.extra-info {
		display: block;
		font-size: x-small;
		margin-top: 2px;
	}
	tbody tr, tbody tr td {
		height: 70px;
	}
	.profile-form {
		width: 100%;
	}
}

@media only screen and (max-width: 576px) {
	.contact-list {
	display: grid;
	grid-template-columns: auto;
	padding: 16px;
	justify-content: center;
}
	
	.photo-in-sm-screen {
		display: none;
	}
	.banner .banner-content {
	position: static;
	grid-template-columns: auto;
}
	.music-control {
	grid-template-columns: 1fr 4fr 1fr;
}
#volume-icon {
	display: none;
}
.volume-bar-sm-screen {
	display: none;
}
  .nav-bar-sign-up {
    padding-left: 0px;;
  }
  .nav-bar-sign-up .nav-bar-sign-up-dark-mode {
    padding-right: 20px;
  }
  .nav-bar-sign-up {
    grid-template-columns: 1fr 3fr 1fr;
  }
  .nav-bar-sign-up .nav-bar-sign-up-logo .position-locate {
    width: 150px;
    margin: auto;
  }
	.form-sign-up {
		width: 80%;
	}
	input[type="text"].search {
		display: none;
	}
	.nav-bar .top-search .search-icon {
		display: block;
	}
	.sidebar {
		display: none;
	}
  .sidebar-display-yes {
    display: grid;
  }
  .sidebar-display-no {
    display: none;
  }
  .sidebar-collapse {
		display: none;
    border-width: 0px;
	}
	.main-content {
		margin-left: 0px;
	}
	.footer {
		margin-left: 0px;
	}
}





